<div class="container home">
    <section flex center>
        <h1>Pollerize</h1>
    </section>

    <section flex center>

        <form name="homeForm" novalidate ng-submit="submit()">
            <input type="text" name="id" ng-model="id" placeholder="ID" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" required>
            <button class="btn">Go</button>
            <div ng-messages="homeForm.id.$error" ng-if="homeForm.id.$dirty || submitted" role="alert">
                <div ng-message="required">
                    A valid ID is required
                </div>
            </div>
        </form>
    </section>

    <section flex center>
        <div ng-show="authData">
        	<p>Hello, {{ authData.google.displayName }}</p>
        	<button ng-click="auth.$unauth()">Logout</button>
    	</div>
    	<div ng-hide="authData">
    	    <p>Welcome, please log in.</p>
	        <button class="btn" ng-click="auth.$authWithOAuthPopup('google')">Login With Google</button>
		</div>
    </section>
</div>
